@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply font-montserrat;
}

body {
	@apply bg-space bg-no-repeat mx-auto max-w-screen-lg;
}

.title {
	@apply flex justify-between items-center h-20 text-xl px-5 text-green font-semibold;
}

.type {
	@apply text-dark bg-green px-2 rounded;
}

.stat-row {
	@apply grid grid-cols-4 gap-4 w-full px-10 lg:w-1/2;
}

.neumorphism-small {
	-webkit-border-radius: 6px;
	border-radius: 15px;
	background: #466362;
	-webkit-box-shadow: 5px 5px 19px #324747, -5px -5px 19px #5a7f7d;
	box-shadow: 5px 5px 19px #324747, -5px -5px 19px #5a7f7d;
}
